<%#= form_with(model: food) do |form| %>
  <%# if food.errors.any? %>
<!--    <div style="color: red">-->
<!--      <h2><%#= pluralize(food.errors.count, "error") %> prohibited this food from being saved:</h2>-->

<!--      <ul>-->
        <%# food.errors.each do |error| %>
<!--          <li><%#= error.full_message %></li>-->
        <%# end %>
<!--      </ul>-->
<!--    </div>-->
  <%# end %>

<!--  <div>-->
    <%#= form.label :name, style: "display: block" %>
    <%#= form.text_field :name %>
<!--  </div>-->

<!--  <div>-->
    <%#= form.label :price, style: "display: block" %>
    <%#= form.text_field :price %>
<!--  </div>-->

<!--  <div>-->
    <%#= form.label :category, style: "display: block" %>
    <%#= form.text_field :category %>
<!--  </div>-->

<!--  <div>-->
    <%#= form.submit %>
<!--  </div>-->
<%# end %>

<div class="container">

  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'shared/food_errors' %>
      <%= form_with(model: @food, class: "shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>
        <div class="form-group row">
          <%= f.label :name, class: "col-2 col-form-label text-light" %> <br/>
          <div class="col-10">
            <%= f.text_field :name, class: "form-control shadow rounded", placeholder: "Name of the food" %>
          </div>
        </div>


        <br/>

        <div class="form-group row">
          <%= f.label :price, class: "col-2 col-form-label text-light" %> <br/>
          <div class="col-10">
            <%= f.text_field :price, class: "form-control shadow rounded", placeholder: "Price of the food" %>
          </div>
        </div>
        <br/>

        <div class="form-group row">
          <%= f.label :category, class: "col-2 col-form-label text-light" %> <br/>
          <div class="col-10">
            <%= f.text_field :category, class: "form-control shadow rounded", placeholder: "Category of the food" %>
          </div>
        </div>
        <br/>

        <div class ="text-center">
          <div class="form-row justify-content-center">
            <%= f.submit class: "btn btn-outline-light btn-lg" %>
          </div>
      <% end %>
      </div>
      <div class="text-center mb-3">

        <%= link_to "Go Back", foods_path, class:"btn btn-warning" %>
      </div>
    </div>
  </div>
</div>
