<!--<p style="color: green"><%#= notice %></p>-->

<%#= render @food %>

<!--<div>-->
<!--  <%#= link_to "Edit this food", edit_food_path(@food) %> |-->
  <%#= link_to "Back to foods", foods_path %>

  <%#= button_to "Destroy this food", @food, method: :delete %>
<!--</div>-->

<div class="container" style="margin-top: 25px;">
  <h2 class = "text-center"><%= @food.name %></h2>
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-center mt-4 shadow mb-5 bg-white rounded">
        <div class="card-header fst-italic">
          by <%= @food.user.email if @food.user %>
        </div>
        <div class="card-body">
          <div class="card-text text-left"><%= "Rp. " + @food.price.to_s %></div>
          <div class="card-text text-left"><%= simple_format(@food.category) %></div>
          <%= link_to "Edit", edit_food_path(@food), class: "btn btn-outline-info" %>
          <%= link_to "Delete", food_path(@food), class: "btn btn-outline-danger", method: :delete %>
        </div>
        <div class="card-footer text-muted">
          <small>Created <%= time_ago_in_words(@food.created_at) %> ago,
            Edited <%= time_ago_in_words(@food.updated_at) %> ago</small>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="form-row text-center mb-4">
    <%= link_to 'Back', foods_path, class: "btn btn-primary" %>
    <%= link_to "Home Page", root_path, class:  "btn btn-warning" %>
  </div>
</div>

